/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Basic */

* {
	margin: 0;
	padding: 0;
}

html,
body,
.Container {
	height: 100%;
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background-color: #e9e8e6;
}

.btn {
	border-radius: 0;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

a:link.white,
a:hover.white,
a:visited.white {
	text-decoration: none;
	color: #fff;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

/*
h2 {
	font-size: 1.5rem;
}
*/

p {
	color: #000;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2rem;
}

.min-100 {
	min-height: 100%;
}


/* Spacing */

.no-gutter {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}


/* Navbar */

.navbar {
	position: absolute;
	z-index: 99999;
	top: 0;
	width: 100%;
	padding: 1.8rem 1rem;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
	font-family: 'Kanit', sans-serif;
	color: #000;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #555;
}

.navbar a:link,
.navbar a:hover,
.navbar a:visited {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-brand {
	padding-top: 0;
}

.wrapper {
	margin: 0;
	width: 200px;
	height: 40px;
}

.menu-toggle {
	display: block;
	height: 40px;
	padding: 0;
	z-index: 1;
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: sans-serif;
	outline: medium none;
	overflow: visible;
	text-align: center;
	vertical-align: middle;
	height: 31px;
	width: 35px;
	right: 0px;
	top: 0;
	position: absolute;
}

.menu-toggle:before {
	content: attr(data-label);
	display: block;
	padding: 12px 0;
	position: absolute;
	right: 100%;
	top: 0;
	transition: color 0.2s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.menu--is-revealed .menu-toggle:before {
	opacity: 0;
	visibility: hidden;
}

.menu-toggle .icon-bars,
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: background-color 0.2s ease;
}

.menu-toggle:focus .icon-bars,
.menu-toggle:focus .icon-bars:before,
.menu-toggle:focus .icon-bars:after,
.menu-toggle:hover .icon-bars,
.menu-toggle:hover .icon-bars:before,
.menu-toggle:hover .icon-bars:after {
	background-color: #000;
}

.menu-toggle .icon-bars {
	transition: transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle:active .icon-bars,
.menu--is-revealed .menu-toggle .icon-bars {
	transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 135deg);
}

.menu-toggle:active .icon-bars:before,
.menu-toggle:active .icon-bars:after,
.menu--is-revealed .menu-toggle .icon-bars:before,
.menu--is-revealed .menu-toggle .icon-bars:after {
	transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 90deg);
	top: 0;
}

.menu--is-revealed .menu-toggle {
	position: fixed;
	top: 31px;
	right: 22px;
}

.nav-item {
	font-size: 1.2rem;
}

.icon-bars {
	position: relative;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	display: block;
	width: 32px;
	height: 2px;
	background-color: currentColor;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	background-color: #273138;
}

.icon-bars:before,
.icon-bars:after {
	content: "";
	position: absolute;
	left: 0;
}

.icon-bars:before {
	top: 0.5em;
}

.icon-bars:after {
	top: -0.5em;
}

@media (min-width: 990px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		/**optional offset from top**/
		max-height: 40px;
	}
}

@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 100%;
		text-align: center;
	}
	.navbar>.container .navbar-brand-centered,
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -50%;
	}
}

.navbar-toggler-icon {
	top: 15px;
	right: 0px;
	position: absolute;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: rgb(0, 0, 0);
	z-index: 9999;
}

@media screen and (max-width:991px) {
	.navbar-collapse {
		height: 100vh;
		background-color: #e9e8e6;
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
	}
	.navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 30%;
		width: 50%;
		margin: -15% 0 0 -25%;
	}
}

.navbar-toggler {
	height: 30px;
	width: 21px;
	position: absolute;
	right: 22px;
}

@media (min-width: 992px) {
	#social {
		display: none;
	}
}

@media (max-width: 991px) {
	#social {
		border-top: 1px solid #000;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin: 5%;
	}
	#social p {
		font-size: 0.9rem;
		padding-top: 1rem;
	}
}


/* Half Page */

.Container:before {
	content: '';
	height: 100%;
	float: left;
}

.Content {
	position: relative;
	z-index: 1;
}

.Content:after {
	content: '';
	clear: both;
	display: block;
}

.Wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #e9e8e6;
}

.LeftContent {
	float: left;
	margin: 0;
	padding: 0;
}

.RightContent {
	overflow: auto;
}

@media (min-width: 1200px) {
	.Wrapper>div {
		height: 100%;
	}
}

.split-image-left {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.background-1 {
	background-image: url("../img/photo-6.jpg");
}

.background-2 {
	background-image: url("../img/mypic1.png");
}

.split-image-right {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.signature {
	padding-top: 2rem;
	height: 6rem;
}


/* Works - Horizontal Gallery */

.swiper-container {
	width: 100%;
	max-width: 980px;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

@media (max-width: 1200px) {
	.swiper-container {
		padding: 0 20px 0;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

 :root {
	--swiper-theme-color: #000;
}

.swiper-pagination {
	display: none;
}


/* Works */

.works {
	font-size: 1.2em;
	padding-top: 14rem;
	padding-bottom: 3rem;
}


/* Studio */

.studio {
	font-size: 1.2em;
	padding-top: 10rem;
	padding-bottom: 3rem ;
}


/* Contact */

.contact {
	max-width: 1200px;
	font-size: 1.9em;
	padding-top: 0rem;
	padding-bottom: 1rem;
}


/* Contact Form */

.contact-form {
	font-size: 1.2em;
	padding-bottom: 11rem;
}

.contact-form .btn-primary {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.contact-form .form-control {
	color: #000;
	background-color: transparent;
	border-color: #000;
	border-width: 0 0 2px 0;
	border-radius: 0;
	border-style: solid;
	font-size: 1.5rem;
}

.form-control::-webkit-input-placeholder {
	color: #000;
	opacity: 0.6;
}

.form-control {
	padding: 1.5rem 16rem 1.5rem 0.75rem
}

.contact-form .btn {
	padding: 0.8rem 4rem;
	border-radius: 5px;
}

img.proflie{	
	width: 80 px;
	height: 80 px;
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7) ;
}
h3 {
	text-align: center;

}

h4 {
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	box-sizing: border-box;
  }
  
  .gallery-section{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 5rem ;
	background: #e9e8e6;
  }
  
  .inner-width{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	padding: 0 20px;
  }
  
  .gallery-section h1{
	text-align: center;
	text-transform: uppercase;
	color: #333;
  }
  
  .border{
	width: 180px;
	height: 4px;
	background: #333;
	margin: 60px auto;
  }
  
  .gallery-section .gallery {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
  }
  
  .gallery-section .image{
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	flex: 20%;
  
   /**/
  }
  .gallery-section .image2{
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	flex: 20%;
  
   /**/
  }
  
  .gallery-section .image img{
	width: 100%;
	height: 100%;
	transition: 0.4s;
	
  }
  
  .gallery-section .image2 img{
	width: 100%;
	height: 100%;
	transition: 0.4s;
	
  }
  
  .gallery-section .image:hover img{
	transform: scale(1.4) rotate(15deg);
  }
  
  @media screen and (max-width:960px) {
	.gallery-section .image {
	  flex: 33.33%;
	}
  }
  
  @media screen and (max-width:768px) {
	.gallery-section .image {
	  flex: 50%;
	}
  }
  
  @media screen and (max-width:480px) {
	.gallery-section .image{
	  flex: 100%;
	}
  }
  
  
  
  @media screen and (max-width:960px) {
	.gallery-section .image2 {
	  flex: 33.33%;
	}
  }
  
  @media screen and (max-width:768px) {
	.gallery-section .image2 {
	  flex: 50%;
	}
  }
  
  @media screen and (max-width:480px) {
	.gallery-section .image2{
	  flex: 100%;
	}
  }

  .footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(219, 219, 219);
	color: white;
	text-align: center;
	letter-spacing: 5px;
	opacity: 50%;
	line-height: 10px;
 }
 .footer-date{
	 font-size: 15px;

 }

 .w3-row-padding img {   /* button MENU*/
	margin-bottom: 12px
}


.menu-section{
	display: block;
	margin: auto;
	text-align: center;

}

a.button3 {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: #FFFFFF;
	background-color: rgb(75, 88, 116);
	text-align: center;
	transition: all 0.25;

}

a.button3{
	background-color: rgb(66, 66, 66);

}

@media all and (max-width:30em){
	a.button3{
		display:block;
		margin:0.2em auto;
	}
}


.w3-row-padding img {   /* button to Site The Temple*/
	margin-bottom: 12px
}


.menu-section{
	display: block;
	margin: auto;
	text-align: center;

}

a.button2 {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 200;
	color: #FFFFFF;
	font-size: 0.6em;
	background-color: rgb(75, 88, 116);
	text-align: center;
	transition: all 0.25;

}

a.button2{
	background-color: #4f7ce6;

}

@media all and (max-width:30em){
	a.button2{
		display:block;
		margin:0.2em auto;
	}
}


.container-text{
	margin: auto;
	max-width: 1000px;
	font-size: 1.2em;
	padding-top: 0rem;
	padding-bottom: 3rem ;
}

.title{
	font-size: 3em;
	font-family: 'Titillium Web', sans-serif;
}

.GD-title{
	font-size: 2.6em;
	font-family: 'Titillium Web', sans-serif;
	margin-left: auto ;

}

.ui-name{
	font-size: 1em;
	font-family: 'Titillium Web', sans-serif;
	padding-bottom: 0rem;
}

.ui-detail{
	font-size: 0.5em;
	font-family:'Open Sans', sans-serif;
	color: rgb(95, 95, 95);
	padding-bottom: 0.5rem;
}
.ui-detail-small{
	font-size: 0.3em;
	font-family:'Open Sans', sans-serif;
	color: rgb(95, 95, 95);
	padding-top: 0rem;

}
/*GALLERY UXUI DESIGN*/
.gellery-uxui-contaniner{
	max-width: 1000px;
	margin: auto;
	padding-top: 0rem;
	padding-bottom: 0rem ;
	
}
.gallery-uxui-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;	
}

.gallery-uxui-geid-item img{
	width: 100%;
}

@media all and (max-width:30em){

}

.img-skill{
	width: 100%;

}

.img-temple img{
	width: 100%;
}

.date{
	font-size: 0.5em;
}

.name{
	font-size: 1.5em;
	padding-bottom: 1rem;
}

/* Text Card */
.card-section{
	padding-bottom: 1rem;

}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
	border-radius: 9px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container-card {
	padding: 10px 20px;
  }

  /*Skill*/

.container-skill {
	width: 100%;
	 background-color: rgb(97, 97, 97);
	 border-radius: 9px;
}

.skills {
	height: 50%;
	font-size: 0.35em;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	font-family:'Open Sans', sans-serif;
}

.PS {
	width: 80%; 
	background-color: #ffb400;
	border-radius: 9px;
}

.XD {
	width: 70%; 
	background-color: #ffb400;
	border-radius: 9px;
}

.PR {
	width: 70%; 
	background-color: #ffb400;
	border-radius: 9px;
}
.AE {
	width: 60%; 
	background-color: #ffb400;
	border-radius: 9px;
}

.Ai {
	width: 50%; 
	background-color: #ffb400;
	border-radius: 9px;
}

/*Coding skill*/

.html {
	width: 50%; 
	background-color: #ffb400;
	border-radius: 9px;
}

.css {
	width: 50%; 
	background-color: #ffb400;
	border-radius: 9px;
}

.java{
	width: 40%; 
	background-color: #ffb400;
	border-radius: 9px;

}


 

